RFIDApplication/RFIDIntegratedApplication/Service References/ServiceReference3/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OriginSarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICalculateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CalculateApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculateService_init_InputMessage">
    <wsdl:part name="parameters" element="tns:init" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_init_OutputMessage">
    <wsdl:part name="parameters" element="tns:initResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_calculate_InputMessage">
    <wsdl:part name="parameters" element="tns:calculate" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_calculate_OutputMessage">
    <wsdl:part name="parameters" element="tns:calculateResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_clear_InputMessage">
    <wsdl:part name="parameters" element="tns:clear" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_clear_OutputMessage">
    <wsdl:part name="parameters" element="tns:clearResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_clearAll_InputMessage">
    <wsdl:part name="parameters" element="tns:clearAll" />
  </wsdl:message>
  <wsdl:message name="ICalculateService_clearAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:clearAllResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculateService">
    <wsdl:operation name="init">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculateService/init" message="tns:ICalculateService_init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculateService/initResponse" message="tns:ICalculateService_init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calculate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculateService/calculate" message="tns:ICalculateService_calculate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculateService/calculateResponse" message="tns:ICalculateService_calculate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clear">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculateService/clear" message="tns:ICalculateService_clear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculateService/clearResponse" message="tns:ICalculateService_clear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clearAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculateService/clearAll" message="tns:ICalculateService_clearAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculateService/clearAllResponse" message="tns:ICalculateService_clearAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICalculateService" type="tns:ICalculateService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICalculateService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="init">
      <soap12:operation soapAction="http://tempuri.org/ICalculateService/init" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculate">
      <soap12:operation soapAction="http://tempuri.org/ICalculateService/calculate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clear">
      <soap12:operation soapAction="http://tempuri.org/ICalculateService/clear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearAll">
      <soap12:operation soapAction="http://tempuri.org/ICalculateService/clearAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OriginSarService">
    <wsdl:port name="NetTcpBinding_ICalculateService" binding="tns:NetTcpBinding_ICalculateService">
      <soap12:address location="net.tcp://127.0.0.1:50004/CalculateServiceEndPoint" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:50004/CalculateServiceEndPoint</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DINGFENG\FD</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>