RFIDApplication/RFIDIntegratedApplication/Service References/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DmcControlService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDmcControlService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DMCControl" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDmcControlService_rotatingRun_InputMessage">
    <wsdl:part name="parameters" element="tns:rotatingRun" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_rotatingRun_OutputMessage">
    <wsdl:part name="parameters" element="tns:rotatingRunResponse" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_horizontalRun_InputMessage">
    <wsdl:part name="parameters" element="tns:horizontalRun" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_horizontalRun_OutputMessage">
    <wsdl:part name="parameters" element="tns:horizontalRunResponse" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_resetHorizontalPos_InputMessage">
    <wsdl:part name="parameters" element="tns:resetHorizontalPos" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_resetHorizontalPos_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetHorizontalPosResponse" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_resetRotatingPos_InputMessage">
    <wsdl:part name="parameters" element="tns:resetRotatingPos" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_resetRotatingPos_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetRotatingPosResponse" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_getCurrentPos_InputMessage">
    <wsdl:part name="parameters" element="tns:getCurrentPos" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_getCurrentPos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCurrentPosResponse" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_originPoint_InputMessage">
    <wsdl:part name="parameters" element="tns:originPoint" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_originPoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:originPointResponse" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_emergencyStop_InputMessage">
    <wsdl:part name="parameters" element="tns:emergencyStop" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_emergencyStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:emergencyStopResponse" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_tryDequeue_InputMessage">
    <wsdl:part name="parameters" element="tns:tryDequeue" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_tryDequeue_OutputMessage">
    <wsdl:part name="parameters" element="tns:tryDequeueResponse" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_shutdown_InputMessage">
    <wsdl:part name="parameters" element="tns:shutdown" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_shutdown_OutputMessage">
    <wsdl:part name="parameters" element="tns:shutdownResponse" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_begin_InputMessage">
    <wsdl:part name="parameters" element="tns:begin" />
  </wsdl:message>
  <wsdl:message name="IDmcControlService_begin_OutputMessage">
    <wsdl:part name="parameters" element="tns:beginResponse" />
  </wsdl:message>
  <wsdl:portType name="IDmcControlService">
    <wsdl:operation name="rotatingRun">
      <wsdl:input wsaw:Action="http://tempuri.org/IDmcControlService/rotatingRun" message="tns:IDmcControlService_rotatingRun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDmcControlService/rotatingRunResponse" message="tns:IDmcControlService_rotatingRun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="horizontalRun">
      <wsdl:input wsaw:Action="http://tempuri.org/IDmcControlService/horizontalRun" message="tns:IDmcControlService_horizontalRun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDmcControlService/horizontalRunResponse" message="tns:IDmcControlService_horizontalRun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resetHorizontalPos">
      <wsdl:input wsaw:Action="http://tempuri.org/IDmcControlService/resetHorizontalPos" message="tns:IDmcControlService_resetHorizontalPos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDmcControlService/resetHorizontalPosResponse" message="tns:IDmcControlService_resetHorizontalPos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resetRotatingPos">
      <wsdl:input wsaw:Action="http://tempuri.org/IDmcControlService/resetRotatingPos" message="tns:IDmcControlService_resetRotatingPos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDmcControlService/resetRotatingPosResponse" message="tns:IDmcControlService_resetRotatingPos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCurrentPos">
      <wsdl:input wsaw:Action="http://tempuri.org/IDmcControlService/getCurrentPos" message="tns:IDmcControlService_getCurrentPos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDmcControlService/getCurrentPosResponse" message="tns:IDmcControlService_getCurrentPos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="originPoint">
      <wsdl:input wsaw:Action="http://tempuri.org/IDmcControlService/originPoint" message="tns:IDmcControlService_originPoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDmcControlService/originPointResponse" message="tns:IDmcControlService_originPoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="emergencyStop">
      <wsdl:input wsaw:Action="http://tempuri.org/IDmcControlService/emergencyStop" message="tns:IDmcControlService_emergencyStop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDmcControlService/emergencyStopResponse" message="tns:IDmcControlService_emergencyStop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="tryDequeue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDmcControlService/tryDequeue" message="tns:IDmcControlService_tryDequeue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDmcControlService/tryDequeueResponse" message="tns:IDmcControlService_tryDequeue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="shutdown">
      <wsdl:input wsaw:Action="http://tempuri.org/IDmcControlService/shutdown" message="tns:IDmcControlService_shutdown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDmcControlService/shutdownResponse" message="tns:IDmcControlService_shutdown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="begin">
      <wsdl:input wsaw:Action="http://tempuri.org/IDmcControlService/begin" message="tns:IDmcControlService_begin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDmcControlService/beginResponse" message="tns:IDmcControlService_begin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDmcControlService" type="tns:IDmcControlService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDmcControlService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="rotatingRun">
      <soap12:operation soapAction="http://tempuri.org/IDmcControlService/rotatingRun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="horizontalRun">
      <soap12:operation soapAction="http://tempuri.org/IDmcControlService/horizontalRun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetHorizontalPos">
      <soap12:operation soapAction="http://tempuri.org/IDmcControlService/resetHorizontalPos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetRotatingPos">
      <soap12:operation soapAction="http://tempuri.org/IDmcControlService/resetRotatingPos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentPos">
      <soap12:operation soapAction="http://tempuri.org/IDmcControlService/getCurrentPos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="originPoint">
      <soap12:operation soapAction="http://tempuri.org/IDmcControlService/originPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="emergencyStop">
      <soap12:operation soapAction="http://tempuri.org/IDmcControlService/emergencyStop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tryDequeue">
      <soap12:operation soapAction="http://tempuri.org/IDmcControlService/tryDequeue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="shutdown">
      <soap12:operation soapAction="http://tempuri.org/IDmcControlService/shutdown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="begin">
      <soap12:operation soapAction="http://tempuri.org/IDmcControlService/begin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DmcControlService">
    <wsdl:port name="NetTcpBinding_IDmcControlService" binding="tns:NetTcpBinding_IDmcControlService">
      <soap12:address location="net.tcp://127.0.0.1:50002/DmcControlServiceEndPoint" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:50002/DmcControlServiceEndPoint</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DINGFENG\FD</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>