RFIDApplication/RFIDIntegratedApplication/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ImpinjControl" />
  <xs:element name="connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImpinjControl" minOccurs="0" name="connectResult" nillable="true" type="q1:ConnectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ImpinjControl" minOccurs="0" name="antennaConfiguration" nillable="true" type="q2:AntennaConfiguration" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ImpinjControl" minOccurs="0" name="rOReportSpec" nillable="true" type="q3:ROReportSpec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startInventoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEpc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldEpc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newEpc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEpcResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="stopInventory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="stopInventoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="tryDeque">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="tryDequeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ImpinjControl" minOccurs="0" name="tryDequeResult" nillable="true" type="q4:ArrayOfTagInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="disconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="disconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>